body:before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(../image/modification.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
}

.contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 420px;
    padding: 80px 40px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.avatar {
    position: absolute;
    width: 100px;
    overflow: hidden;
    top: calc(20px/2);
    left: calc(50% - 40px);
}

.contact-form h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.contact-form input {
    width: 100%;
    margin-bottom: 20px;
}

.contact-form input[type=text],
.contact-form input[type=password] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: blue;
    font-size: 15px;
}

.contact-form input[type=submit] {
    height: 30px;
    color: #fff;
    font-size: 22px;
    background: blue;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 3%;
}

.contact-form input[type=submit]:hover {
    background-color: #09043a;
}

.iconPassword {
    display: flex;
    align-items: center;
    position: absolute;
    top: 61%;
    transform: translateY(-50%);
    width: 20px;
    color: #f9f9f9;
    transition: all 0.2s;
    right: 40px;
    font-size: 20px;
}

.iconPassword .fa-eye {
    color: green;
}

.iconPassword .fa-eye-slash {
    color: red;
    display: none;
}

.iconPassword:hover {
    cursor: pointer;
}

.creer {
    height: 30px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    text-align: center;
    margin-top: 0%;
}

.creer a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding-top: 3px;
}

.creer:hover {
    border-radius: 25px;
    background-color: #390404;
}

@media screen and (max-width: 500px) {
    .contact-form {
        width: 340px;
        height: 450px;
    }
    .iconPassword {
        top: 65%;
    }
}